.Rproj.user
.Rhistory
.RData
.Ruserdata
bigquery_projectid.txt
.httr-oauth
conf/*secret*
.DS_Store
projects/*
tmp/
*config*.yml
dev/
.DS_Store
ReviewR.Rcheck/
ReviewR*.tar.gz
ReviewR*.tgz
rsconnect/
inst/doc
doc
docs
Meta
data/synPUF.rda
