
#hadm_id_output, #reset_hadm_id, #hadm_id_display {
  display: inline-block;
}

#reset_hadm_id {
  margin-left: 20px;
}

.parameters {
  font-size: 18px;
}

.wrapper .content-wrapper { overflow-y: scroll; }

#abstraction_form {
  padding: 15px;
  background-color: #EEEEEE;
  border: solid 1px black;
}

.home_container {
  margin-top: 30px;
}

.home_panel {
  background-color: #FFFFFFF;
  border: solid 1px black;
  padding: 15px;
  text-align: center;
}

.shiny-notification {
  position:fixed;
  top: calc(0%);
  left: calc(0%);
  white-space: pre-line;
  opacity: 1;
}
